<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Ejercico de examen</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales', 'Expenses'],
          ['2004',  1000,      400],
          ['2005',  1170,      460],
          ['2006',  660,       1120],
          ['2007',  1030,      540]
        ]);

        var options = {
          title: '',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('grafico'));

        chart.draw(data, options);
      }
    </script>
<style type="text/css">
ul{
list-style: none;
}
</style>
</head>
<body>
<h1>Título del proyecto:</h1>

<h2>Introducción:</h2> 
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, obcaecati similique nihil cumque ducimus et alias modi sunt commodi deleniti! Esse, eligendi explicabo ratione nostrum modi vero suscipit cupiditate repudiandae.</p>

<ul>
<li id="clickme">Menú:
<ul id="book">
<li><a href="#elm1">Elemento 1</a></li>
<li><a href="#elm2">Elemento 2</a></li>
<li><a href="#elm3">Elemento 3</a></li>
<li><a href="#elm">Elemento 4</a></li>
</li>
</ul>


<br>
<br>
<table>
{% for row in tabla %}

	{% if loop.index == 1 %}
 <thead>
    <tr>
		{% for cell in row  %}
			<th>{{ cell }}</th>
		{% endfor %}
</tr>
</thead>
	{% else %}
<tbody>
<tr>
		{% for cell in row  %}
			<td>{{ cell }}</td>
		{% endfor %}
</tr>
</tbody>		
	{% endif %}
	
{% endfor %}
</table>
<div id="grafico"></div>

<script>
	var datos = {% autoescape false %}{{ tabla }}{% endautoescape %};
</script>
</body>
</html>